@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

.container {
  display: flex;
  align-items: flex-start; }

.app {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #5e041c, #130106);
  display: flex; }

body {
  color: #dac4c8;
  font-family: "Poppins", sans-serif;
  min-height: 100vh; }

.block {
  display: content;
  width: 40%;
  text-align: center; }

h1 {
  display: inline;
  margin-left: 5%;
  margin-bottom: 2%; }

.todo .handle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #ccc;
  cursor: grab;
  margin-right: 10px; }

.image {
  height: 6rem;
  width: 10rem;
  object-fit: contain;
  margin-bottom: -1.5rem; }

header {
  font-size: 1.5rem;
  display: contents; }

.button-group {
  display: flex;
  /* Hiển thị nút trên cùng 1 hàng */
  float: right; }

.button-group form {
  margin-right: 20px;
  /* Khoảng cách giữa nút */ }

.text {
  margin-left: 5%;
  margin-right: 5%; }

.card-title {
  color: black;
  font-weight: bold;
  font-size: larger; }

.card-text {
  color: black;
  font-size: medium; }

.btn-primary:hover {
  color: #fff;
  background-color: #740719;
  border-color: #cc001f; }

a:hover {
  color: #212529;
  text-decoration: underline; }

.btn-primary {
  padding: 8px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #d23d2f8a;
  color: #380A15; }

.list {
  margin-top: 30px;
  width: 60%;
  font-size: 2.5rem;
  min-height: 10vh;
  display: block; }

header {
  min-height: 20vh;
  justify-content: center;
  align-items: center;
  margin-left: 5%; }

form button {
  padding: 1rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  border: none;
  background: #e0bbc5;
  border-radius: 2rem; }

form .button {
  padding: 1rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  border: none;
  background: #e0bbc5;
  border-radius: 2rem; }

form .todo-input {
  width: 40%;
  box-sizing: border-box; }

form button {
  color: #c0104a;
  background: #e0bbc5;
  cursor: pointer;
  transition: all 0.3 ease;
  margin-left: 0.5rem;
  margin-top: 3%; }

form button:hover {
  color: #e0bbc5;
  background: #ca1439; }

.fa-plus-circle {
  height: 10px;
  position: relative;
  top: 2px;
  margin-top: 0rem;
  margin-right: 7px; }

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.todo-list {
  min-width: 90%;
  list-style: none;
  display: block; }

.todo {
  margin: 0.5rem;
  padding-left: 0.5rem;
  background: #e0bbc5;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-radius: 2rem;
  position: relative; }

form input {
  padding: 1rem;
  padding-left: 1.5rem;
  font-size: 0.8rem;
  border: none;
  background: #e0bbc5;
  border-radius: 2rem; }

.todo li {
  flex: 1; }

.todo:hover {
  background-color: rgba(224, 187, 197, 0.542); }

.todo-item {
  /* padding: 0rem 0.6rem; */
  text-align: left; }

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  .container {
    display: block; }
  .block {
    width: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; }
  .list {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center; }
  .list .text {
    text-align: center; }
  .todo-list {
    font-size: 1px; } }

/* Table: width >= 740px and width < 1024px  */
@media only screen and (min-width: 46.25em) and (max-width: 63.92375em) {
  .container {
    display: block; }
  .block {
    width: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; }
  .list {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center; }
  .list .text {
    text-align: center; } }
