<link rel="stylesheet" href="/css/welcome.css">

<div class="button-container">
    <form action="/auth/register" method="GET">
        <button>Register</button>
    </form>

    <form action="/auth/login" method="GET">
        <button>Login</button>
    </form>
</div>