<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/homecss.css">
</head>

<body>
    <h1>Hello xin chào các bạn</h1>
    <div class="button-container">
        <form action="/auth/register" method="GET">
            <button>Register</button>
        </form>

        <form action="/auth/login" method="GET">
            <button>Login</button>
        </form>
    </div>
</body>

</html>